* {
    box-sizing: border-box;
}

body {
    background-color: #d05559;
    color: white;
}

.container {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
}

.title {
    font-family: sans-serif;
    font-weight: bolder;
}

.subtitle {
    margin-top: 20px;
    font-weight: lighter;
}

#phrase {
    font-family: monospace;
    font-size: 40px;
}

.box {
    background-color: #fff;
    color: black;
    padding: 20px;
    width: 60%;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 10px 10px 60px;
    transition: all 0.1s ease-in-out 0.25s;

}

.box:hover {
    background-color: #fefefe;
    box-shadow: 10px 10px 80px;
}

.box h2 {
    margin: 60px;
}

button {
    background-color: grey;
    color: white;
    border-radius: 10px;
    width: 200px;
    height: 100px;
    font-size: 30px;
}

p {
    margin-top: 80px;
    font-family: sans-serif;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: #ffec3c;
    transition: all 0.25s ease-in-out 0.1s;
}

a:hover {
    border-bottom: 1px solid;
    color: #c5b631;
    font-size: 20.6px;
}

.price {
    font-family: sans-serif;
    font-size: 40px;
}

.bold {
    font-weight: bolder;
}